img {
    max-height: 100vh;
}

#content {
    display: flex;
    flex-flow: row wrap;
}

.li-image {
    max-width: 100%;
}

.bio {
    padding: 15px;
}

@media only screen and (min-width: 481px) {
    #content {
        padding-left: 100px;
        padding-right: 100px;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
      
    .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        padding: 15px;
    }

    .bio {
        max-width: 30%;
    }
}
