img {
    max-height: 100vh;
}

.li-image {
    max-width: 100%;
}

@media only screen and (min-width: 481px) {
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
      
    .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        padding: 15px;
    }
}
