{{ $baseurl := .Site.BaseURL }}
<article class="post {{ .Section }}">
    <header class="post-header">
        <h2 class="post-title">
            {{ if .Params.jumpURL }}
                <a href="{{ .Params.jumpURL }}" target="_blank" >{{ .Title }}</a>
            {{ else }}
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ end }}
        </h2>
    </header>
    {{ if and .Params.image .Params.verticalImage }}
    <section class="post-excerpt row">
        <div class="column">
            <img class="li-image" src="{{ .Site.BaseURL }}{{.Params.image}}" alt="{{.Params.image}}" nopin="nopin" />
        </div>
        <div class="column">
            <section class="post-excerpt">
                <p>
                    <section class="post-content">
                    {{ .Content }}
                    </section>
                </p>
            </section>
        </div>
    </section>
    {{else if .Params.image}}
    <section class="post-excerpt">
        <img class="li-image" src="{{ .Site.BaseURL }}{{.Params.image}}" alt="{{.Params.image}}" nopin="nopin" />
        <p>
            <section class="post-content">
            {{ .Content }}
            </section>
        </p>
    </section>
    {{ else if .Params.spotifyID }}
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/{{.Params.spotifyID}}" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    {{else }}
    <section class="post-excerpt">
      <p>
          <section class="post-content">
            {{ .Content }}
          </section>
      </p>
    </section>
    {{end}}
    <footer class="post-meta">
        {{if and (ne .Params.author .Site.Params.author) .Params.author}}
        {{$author := index .Site.Data.authors .Params.author }}
            {{$author.name}}
        {{else if .Site.Params.author}}
            {{.Site.Params.author}}
        {{end}}
        {{if .Params.tags }}on
            {{ range $index, $tag := .Params.tags }}
                <a href="{{$baseurl}}tags/{{ $tag | urlize }}/">#{{ $tag }}</a>
            {{ end }}
        {{end}}
        <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ .Date.Format "2 Jan 2006" }}
        </time>
    </footer>
</article>
