<section class="content row">
    <p class="bio"> Eddie Knight is one of those lucky people who end up getting paid to do everything they love. 
        Don't hold it against him, please. Eddie's career had a tumuluous beginning, involving months or years
        in a variety of roles before he was 25: cashier, landscaper, bank teller, janitor, childcare provider,
        and he even taught English to toddlers in China for half a year. At the same time, he spent 4 years at 
        university training as an historian before changing to focus on software engineering.
    </p>
    <p class="bio">
        While working in software, Eddie was consistently called on to expand his skills into parallel areas,
        taking his experience as a web developer to become a middleware developer in a private data center.
        Later, after working as an API developer for a large bank, Eddie was asked to act as the technical lead
        for a team of Site Reliability Engineers inside another major bank. Allthewhile, Eddie never lost his
        passion for two things he had done consistently since the beginning: writing and creative problem solving.
    </p>
    <p class="bio">
        Drawing on his experience learning and growing through a variety of skills and circumstances, Eddie now
        acts as a Devloper Advocate for Sonatype, the world's leading software supply chain security provider.
        As shown in the examples below, Eddie has consistently provided high quality education and entertainment
        for anyone looking to learn more about enterprise technologies.
    </p>
</section>